@import "react-slideshow-image/dist/styles.css";
@import "../../variables";

.slide-div {
  width: 90%;
  height: 80%;
  margin: 0 auto 0 auto;
  position: relative;
  text-align: center;
}

.slide-img {
  object-fit: cover;
  width: 100%;
}

.portfolio-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 84px;
  color: $main-text;
  font-family: MomcakeBold;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: $altbackground;
  text-decoration: none;
}

.portfolio-container {
  margin: 0 50px;
  text-align: center;
  h4 {
    margin: 0 0 50px 0;
    font-family: MomcakeThin;
    color: $sub-text;
    margin-top: 0;
  }
}
