@import '../../variables';

@font-face {
  font-family: 'MomcakeBold';
  src: url('../../assets/MomcakeBold-WyonA.otf') format('opentype');
}

@font-face {
  font-family: 'MomcakeThin';
  src: url('../../assets/MomcakeThin-9Y6aZ.otf') format('opentype');
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $main-text;
}
