@import "../../variables";

.pdf {
  display: flex;
  justify-content: space-around;
}

.resume {
  text-align: center;
  font-family: MomcakeBold;
  color: $highlighter;
  font-size: 20px;
  text-decoration: underline;
}