

.contact {
  display: flex;
  flex-direction: column;
}

.icon {
  height: 50px;
  width: 50px;
  margin-bottom: 40px;
}

.contact-main {
  display: flex;
  justify-content: space-around;
}

.contact-div {
  display: flex;
  // justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  p {
    margin: 0;
  }
}