.welcome-main {
  display: flex;
  font-size: 84px;
  font-family: "MomcakeBold";
  width: 100%;
  .left-main {
    flex: 66%;
    min-height: 100vh;
    .name {
      position: absolute;
      margin: 0;
      padding-top: 150px;
      padding-left: 10px;
    }
    .headshot {
      height: 600px;
      width: 550px;
      src: url("../../assets/headshot_nobackground.png");
    }
  }
  .right-main {
    flex: 34%;
  }
}

.entrance {
  -webkit-animation: entrance 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: entrance 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes entrance {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes entrance {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
