$background: #222323;
$altbackground: #202020;
$main-text: #FEFEFE;
$sub-text: #D0CCCA;
$highlighter: #C86142;
$font-color: #2A293E;;
$font-size: 14pt;
$form-bg: #f8f4e5;
$form-shadow: #05ffbb;
$form-primary-highlight: #95a4ff;
$form-secondary-highlight: #ffc8ff;
//05ffbb